body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 50px;
}
#color-sajib {
  color: orange;
}
.first-section {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding: 2%;
  text-align: justify;
}
.half-width img {
  width: 50%;
}
.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;
}
.second-section {
  background-image: url(images/dream-bg.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 80px;
}
.experience-area {
  display: flex;
  background-image: url(images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 80px;
}
.shadow {
  box-shadow: 5px 5px red;
}
